{% for site in sites %}
upstream {{ site.name }}_server {

  server unix:/var/www/{{ site.name }}/run/gunicorn.sock fail_timeout=0;
}

server {

    listen 80;
    server_name {{ site.domain }};

    client_max_body_size 4G;

    access_log /var/www/{{ site.name }}/logs/nginx-access.log;
    error_log /var/www/{{ site.name }}/logs/nginx-error.log;

    location /static/ {
        alias   /var/www/{{ site.name }}/static/;
    }

    location /media/ {
        alias   /var/www/{{ site.name }}/{{ site.name }}/media/;
    }


    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header Host $http_host;

        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://{{ site.name }}_server;
            break;
        }
    }

    # Error pages
    #error_page 500 502 503 504 /500.html;
    #location = /500.html {
    #    root /webapps/hello_django/static/;
    #}
}

{% endfor %}

server {

    listen 80 default_server;
    return 444;

}